.bg-wg-modal {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow: auto;
    /*padding-top: 100px;*/
    z-index: 99999;
}
.bg-wg-modal .wg-modal {
    display: block;
    width: 450px;
    position: relative;

    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    /* -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; */
}
.bg-wg-modal.closing .wg-modal {
    /* -webkit-animation-name: animatetopHide;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-name: animatetopHide;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; */
}
.bg-wg-modal.closing {
    -webkit-animation-name: bgAnimatetopHide;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-name: bgAnimatetopHide;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.wg-modal.verticalCentering {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.wg-modal {
    display: none;
    margin: 290px auto 50px;
    /* background-color: #fff; */
    padding: 0px;
}
.wg-modal.innerScroll .wg-content {
    max-height: calc(100vh - 240px);
    overflow-y: auto;
}
.wg-modal .wg-modal-close {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 26px;   
    line-height: 100%;
    cursor: pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    z-index: 1;
    color: #fff;
}
.wg-modal .wg-header {
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -500px; opacity: 0}
    to {top: 0; opacity: 1}
}
@keyframes animatetop {
    from {top: -500px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetopHide {
    from {top: 0; opacity: 1}
    to {top: -500px; opacity: 0}
}
@keyframes animatetopHide {
    from {top: 0; opacity: 1}
    to {top: -500px; opacity: 0}
}

@-webkit-keyframes bgAnimatetopHide {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes bgAnimatetopHide {
    from {opacity: 1}
    to {opacity: 0}
}



.inner-popup .wg-modal { margin: 260px auto 50px;}


/* modal box css */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
.wg-modal {margin: 250px auto 50px !important;}

.inner-popup .wg-modal { margin: 215px auto 50px !important;}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.wg-modal {margin: 250px auto 50px !important;}

.inner-popup .wg-modal { margin: 215px auto 50px !important;} 
}
@media only screen and (min-width: 737px) and (max-width: 767px) {
.wg-modal {margin: 255px auto 50px !important; }
.inner-popup .wg-modal { margin: 215px auto 50px !important;} 	

}

@media only screen and (min-width: 480px) and (max-width: 736px) {
.wg-modal {margin: 170px auto 50px !important; }	
.inner-popup .wg-modal { margin: 155px auto 50px !important;} 

}

@media only screen and (min-width: 320px) and (max-width: 360px) {
.wg-modal {	margin: 180px auto 50px !important;}

}	